/**
*
* THEME SPECIFIC COMPONENTS
*
*/

body {
  transition: background 0.3s;
}

body.dimmed {
  background: rgba(0, 0, 0, 0.85);
}

body.custom-background.dimmed {
  background: rgba(0, 0, 0, 0.85);
}

header {
  border-bottom: 1px solid $color-grey-dark;
  background: $color-grey-dark;
}

.nav-logo {
    display: inline-block;
    padding: 2rem 0;
}

// Styles for particles js canvas
canvas {
    position: absolute;
    top: 0;
}

.hero {
    background-color: $color-grey-dark;
    min-height: 65rem;
    clip-path: polygon(0 0, 100% 0, 100% 76%, 0 100%);

    &__marquee {
        position: relative;
        z-index: 9999;
        margin-top: 7.5rem;

        backdrop-filter: blur(8px); // This be the blur
        box-shadow: 0 1px 5px rgba(255, 255, 255, 0.1);

        h2, p {
            color: $color-grey-light;
        }
    }

    &__button {
        padding: 2rem;
        margin-right: 1rem;
    }
}

.about {
    padding: 5rem 0;

    &__img-col {
        @media only screen and (max-width: $small) {
            order: -1;
        }
    }

    &__img-wrapper {
        padding: 2.5rem;
        @media only screen and (max-width: $small) {
            text-align: center;
        }
    }

    &__img {
        border-radius: 50%;
        @media only screen and (max-width: $small) {
            max-width: 50%;
        }
    }
}

.skills {

    &__row {
        padding: 5rem 0;
        @media only screen and (max-width: $small) {
            padding: 0;
        }
    }
}