/**
*
* THEME SPECIFIC COMPONENTS
*
*/

body {
  transition: background 0.3s;
}

body.dimmed {
  background: rgba(0, 0, 0, 0.85);
}

body.custom-background.dimmed {
  background: rgba(0, 0, 0, 0.85);
}

.header {
  border-bottom: 1px solid $color-grey-dark;
  background: $color-grey-dark;
}

.nav-logo {
    display: inline-block;
    padding: 2rem 0;
}

// Styles for particles js canvas
canvas {
    position: absolute;
    top: 0;
}

.hero {
    background-color: $color-grey-dark;
    min-height: 65rem;
    clip-path: polygon(0 0, 100% 0, 100% 76%, 0 100%);

    @media only screen and (max-width: $small) {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        min-height: 48rem;
    }

    &__marquee {
        position: relative;
        z-index: 9999;
        margin-top: 7.5rem;

        backdrop-filter: blur(1rem); // This be the blur
        box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
        transition: all .3s;

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
        }

        h2, p {
            color: $color-grey-light;
        }

        @media only screen and (max-width: $small) {
            box-shadow: none;
        }
    }

    &__button {
        padding: 2rem;
        margin-right: 1rem;
    }
}

.about {
    padding: 5rem 0;

    &__text {
        opacity: 0;
        transform: translateX(-75rem);
        transition: transform .8s .25s ease-out,
                    opacity .8s .25s ease-out;
        will-change: transform, opacity;
    }

    &__img-col {
        @media only screen and (max-width: $small) {
            order: -1;
        }
    }

    &__img-wrapper {
        padding: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @media only screen and (max-width: $small) {
            text-align: center;
        }
    }

    &__img {
        max-width: 75%;
        border-radius: 50%;
        opacity: 0;
        transform: translateX(75rem);
        transition: transform .8s .25s ease-out,
                    opacity .8s .25s ease-out;
        will-change: transform, opacity;
        @media only screen and (max-width: $small) {
            max-width: 50%;
        }
    }
}

.skills {

    &__row {
        padding: 5rem 0;
        @media only screen and (max-width: $small) {
            padding: 0;
        }
    }

    &__icon {
        width: 5rem;
    }
}

.portfolio {

    &__heading {

    }

    &__overlay-container {
        position: relative;
        font-size: 0;

        &:hover .portfolio__image-overlay {
            opacity: 1;
            cursor: pointer;
        }

        &:hover .portfolio__overlay-button {
            transform: translateY(5rem);
            opacity: 1;
        }
    }

    &__image {
        position: relative;
    }

    &__image-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: $color-grey-dark, $alpha: .85);
        opacity: 0;
        transition: all .5s;
    }

    &__overlay-button {
        transform: translateY(10rem);
        opacity: 0;
        transition: all .1s;
    }
}

.contact {
    padding: 5rem 0;
}

.footer {
    padding: 5rem 0;
    background-color: $color-grey-dark;

    &__copy {
        color: $color-grey-light;
    }
}

// Show on scroll animation
.is-visible {
    opacity: 1;
    transform: translateX(0);
}